html
  head
    title mensaje
  body
    form(action="/", method="POST")
      input(type="submit",value="enviar")
    h1!= hola
    // - para iniciar codigo javascript
    - var arreglo =[1,2,3,4,5];
    - for (var i = 0; i < arreglo.length-1; i++) 
      p= arreglo[i]
    //para condicionales se pued ignorar las llavez y parentesis 
    if true
      p.
       hola otra vez haz click en #[a(href="codigofacilito.com") en hola] link
      //interpolacion de cadenas con codigo javascript
      spam hola #{arreglo[1]+1}

      
    
    
